{% extends 'base.html' %}
{% load static %}

{% block title %}
  Página Inicial
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}  

{% block content %}
    {% for new in news %}
        <div>
          {% if new.image %}
            <img src="{% static new.image.url %}" alt="Imagem da noticia">
          {% endif %}
          <h2 class="news-title">{{ new.title }}</h2>
          <span class="news-date">{{ new.created_at|date:"d/m/Y" }}</span>
        </div>
        {% empty %}
          <p> Não existem eventos cadastrados </p>
    {% endfor %}
{% endblock %}