{% extends 'base.html' %}
{% load static %}

{% block title %}
  Página de Detalhes da Notícia
{% endblock %}

{% block content %}
  <div class="news-detail">
    <h1 class="news-title">{{ news.title }}</h1>
    {% if news.image %}
              <img src="{% static news.image.url %}" alt="Imagem da noticia">
    {% endif %}
    <p class="news-content">{{ news.content }}</p>
    {% for category in categories %}
      <span class="news-categories">{{ category }}</span>
    {% endfor %}
    <span class="news-author">{{ news.author }}</span>
    <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
  </div>
{% endblock %}