{% extends 'base.html' %}
{% load static %}

{% block title %}
  Página de Detalhes da Notícia
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}  

{% block content %}


  {% if news.image %}
            <img src="{% static news.image.url %}" alt="Imagem da noticia">
  {% endif %}

  <h1 class="news-title">{{ news.title }}</h1>

  <p class="news-content">{{ news.content }}</p>

  {% for category in categories %}
    <span class="news-categories">{{ category }}</span>
  {% endfor %}  

  <span class="news-author">{{ news.author }}</span>


  <span>{{ news.created_at|date:"d/m/Y" }}</span>

{% endblock %}